<h1>Welcome to Advendetour!</h1>

<p>Hey Advendetour team! You can find the HTML here in app/views/welcome/index.html.erb</p>
<p>The controller Ruby is in app/controllers/welcome_controller.rb</p>
<p>The CSS/SCSS is in app/assets/stylesheets/welcome.scss</p>
